@using Arm.Shop.Core.DTOs
@using Arm.Shop.Core.Services

@inject IProductoService ProductoService

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Productos destacados</h1>
                <p>
                    Descubrí nuestros productos más populares y recomendados por los clientes.
                </p>
            </div>
        </div>
        <div class="row">
            @if (productos == null || !productos.Any())
            {
                <p>Cargando productos...</p>
            }
            else
            {
                @foreach (var prod in productos)
                {
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/producto/@prod.Id">
                                <img src="@prod.ImagenUrl" class="card-img-top" alt="@prod.Nombre">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">@prod.Precio.ToString("C", new System.Globalization.CultureInfo("es-AR"))</li>
                                </ul>
                                <a href="/producto/@prod.Id" class="h2 text-decoration-none text-dark">@prod.Nombre</a>
                                <p class="card-text">@prod.Descripcion</p>
                                <p class="text-muted">Reviews (@prod.Reviews)</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@code {
    private List<ProductoDestacadoDto> productos = new();

    protected override async Task OnInitializedAsync()
    {
        productos = await ProductoService.GetDestacadosAsync();
    }
}